<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Application Request Metrics</title>
</head>
<body>
<div th:if="${requestTimes.getCount()}">
  <h4>Request Times:</h4>
  <ul>
    <li>Average: <span th:text="${requestTimes.getAverage()}"></span></li>
    <li>Minimum: <span th:text="${requestTimes.getMin()}"></span></li>
    <li>Maximum: <span th:text="${requestTimes.getMax()}"></span></li>
  </ul>
  <h4>Response Body Sizes:</h4>
  <ul>
    <li>Average: <span th:text="${responseSizes.getAverage()}"></span></li>
    <li>Minimum: <span th:text="${responseSizes.getMin()}"></span></li>
    <li>Maximum: <span th:text="${responseSizes.getMax()}"></span></li>
  </ul>
</div>
<p th:unless="${requestTimes.getCount()}">No requests yet, make a request to see statistics</p>
</body>
</html>